.col-indianred {
	color: indianred;
}

.col-lightcoral {
	color: lightcoral;
}

.col-salmon {
	color: salmon;
}

.col-darksalmon {
	color: darksalmon;
}

.col-lightsalmon {
	color: lightsalmon;
}

.col-crimson {
	color: crimson;
}

.col-red {
	color: red;
}

.col-firebrick {
	color: firebrick;
}

.col-darkred {
	color: darkred;
}

.col-pink {
	color: pink;
}

.col-lightpink {
	color: lightpink;
}

.col-hotpink {
	color: hotpink;
}

.col-deeppink {
	color: deeppink;
}

.col-mediumvioletred {
	color: mediumvioletred;
}

.col-palevioletred {
	color: palevioletred;
}

.col-lightsalmon {
	color: lightsalmon;
}

.col-coral {
	color: coral;
}

.col-tomato {
	color: tomato;
}

.col-orangered {
	color: orangered;
}

.col-darkorange {
	color: darkorange;
}

.col-orange {
	color: orange;
}

.col-gold {
	color: gold;
}

.col-yellow {
	color: yellow;
}

.col-lightyellow {
	color: lightyellow;
}

.col-lemonchiffon {
	color: lemonchiffon;
}

.col-lightgoldenrodyellow {
	color: lightgoldenrodyellow;
}

.col-papayawhip {
	color: papayawhip;
}

.col-moccasin {
	color: moccasin;
}

.col-peachpuff {
	color: peachpuff;
}

.col-palegoldenrod {
	color: palegoldenrod;
}

.col-khaki {
	color: khaki;
}

.col-darkkhaki {
	color: darkkhaki;
}

.col-lavender {
	color: lavender;
}

.col-thistle {
	color: thistle;
}

.col-plum {
	color: plum;
}

.col-violet {
	color: violet;
}

.col-orchid {
	color: orchid;
}

.col-fuchsia {
	color: fuchsia;
}

.col-magenta {
	color: magenta;
}

.col-mediumorchid {
	color: mediumorchid;
}

.col-mediumpurple {
	color: mediumpurple;
}

.col-rebeccapurple {
	color: rebeccapurple;
}

.col-blueviolet {
	color: blueviolet;
}

.col-darkviolet {
	color: darkviolet;
}

.col-darkorchid {
	color: darkorchid;
}

.col-darkmagenta {
	color: darkmagenta;
}

.col-purple {
	color: purple;
}

.col-indigo {
	color: indigo;
}

.col-slateblue {
	color: slateblue;
}

.col-darkslateblue {
	color: darkslateblue;
}

.col-mediumslateblue {
	color: mediumslateblue;
}

.col-greenyellow {
	color: greenyellow;
}

.col-chartreuse {
	color: chartreuse;
}

.col-lawngreen {
	color: lawngreen;
}

.col-lime {
	color: lime;
}

.col-limegreen {
	color: limegreen;
}

.col-palegreen {
	color: palegreen;
}

.col-lightgreen {
	color: lightgreen;
}

.col-mediumspringgreen {
	color: mediumspringgreen;
}

.col-springgreen {
	color: springgreen;
}

.col-mediumseagreen {
	color: mediumseagreen;
}

.col-seagreen {
	color: seagreen;
}

.col-forestgreen {
	color: forestgreen;
}

.col-green {
	color: green;
}

.col-darkgreen {
	color: darkgreen;
}

.col-yellowgreen {
	color: yellowgreen;
}

.col-olivedrab {
	color: olivedrab;
}

.col-olive {
	color: olive;
}

.col-darkolivegreen {
	color: darkolivegreen;
}

.col-mediumaquamarine {
	color: mediumaquamarine;
}

.col-darkseagreen {
	color: darkseagreen;
}

.col-lightseagreen {
	color: lightseagreen;
}

.col-darkcyan {
	color: darkcyan;
}

.col-teal {
	color: teal;
}

.col-aqua {
	color: aqua;
}

.col-cyan {
	color: cyan;
}

.col-lightcyan {
	color: lightcyan;
}

.col-paleturquoise {
	color: paleturquoise;
}

.col-aquamarine {
	color: aquamarine;
}

.col-turquoise {
	color: turquoise;
}

.col-mediumturquoise {
	color: mediumturquoise;
}

.col-darkturquoise {
	color: darkturquoise;
}

.col-cadetblue {
	color: cadetblue;
}

.col-steelblue {
	color: steelblue;
}

.col-lightsteelblue {
	color: lightsteelblue;
}

.col-powderblue {
	color: powderblue;
}

.col-lightblue {
	color: lightblue;
}

.col-skyblue {
	color: skyblue;
}

.col-lightskyblue {
	color: lightskyblue;
}

.col-deepskyblue {
	color: deepskyblue;
}

.col-dodgerblue {
	color: dodgerblue;
}

.col-cornflowerblue {
	color: cornflowerblue;
}

.col-mediumslateblue {
	color: mediumslateblue;
}

.col-royalblue {
	color: royalblue;
}

.col-blue {
	color: blue;
}

.col-mediumblue {
	color: mediumblue;
}

.col-darkblue {
	color: darkblue;
}

.col-navy {
	color: navy;
}

.col-midnightblue {
	color: midnightblue;
}

.col-cornsilk {
	color: cornsilk;
}

.col-blanchedalmond {
	color: blanchedalmond;
}

.col-bisque {
	color: bisque;
}

.col-navajowhite {
	color: navajowhite;
}

.col-wheat {
	color: wheat;
}

.col-burlywood {
	color: burlywood;
}

.col-tan {
	color: tan;
}

.col-rosybrown {
	color: rosybrown;
}

.col-sandybrown {
	color: sandybrown;
}

.col-goldenrod {
	color: goldenrod;
}

.col-darkgoldenrod {
	color: darkgoldenrod;
}

.col-peru {
	color: peru;
}

.col-chocolate {
	color: chocolate;
}

.col-saddlebrown {
	color: saddlebrown;
}

.col-sienna {
	color: sienna;
}

.col-brown {
	color: brown;
}

.col-maroon {
	color: maroon;
}

.col-white {
	color: white;
}

.col-snow {
	color: snow;
}

.col-honeydew {
	color: honeydew;
}

.col-mintcream {
	color: mintcream;
}

.col-azure {
	color: azure;
}

.col-aliceblue {
	color: aliceblue;
}

.col-ghostwhite {
	color: ghostwhite;
}

.col-whitesmoke {
	color: whitesmoke;
}

.col-seashell {
	color: seashell;
}

.col-beige {
	color: beige;
}

.col-oldlace {
	color: oldlace;
}

.col-floralwhite {
	color: floralwhite;
}

.col-ivory {
	color: ivory;
}

.col-antiquewhite {
	color: antiquewhite;
}

.col-linen {
	color: linen;
}

.col-lavenderblush {
	color: lavenderblush;
}

.col-mistyrose {
	color: mistyrose;
}

.col-gainsboro {
	color: gainsboro;
}

.col-lightgray {
	color: lightgray;
}

.col-silver {
	color: silver;
}

.col-darkgray {
	color: darkgray;
}

.col-gray {
	color: gray;
}

.col-dimgray {
	color: dimgray;
}

.col-lightslategray {
	color: lightslategray;
}

.col-slategray {
	color: slategray;
}

.col-darkslategray {
	color: darkslategray;
}

.col-black {
	color: black;
}

.bg-indianred {
	background: indianred;
}

.bg-lightcoral {
	background: lightcoral;
}

.bg-salmon {
	background: salmon;
}

.bg-darksalmon {
	background: darksalmon;
}

.bg-lightsalmon {
	background: lightsalmon;
}

.bg-crimson {
	background: crimson;
}

.bg-red {
	background: red;
}

.bg-firebrick {
	background: firebrick;
}

.bg-darkred {
	background: darkred;
}

.bg-pink {
	background: pink;
}

.bg-lightpink {
	background: lightpink;
}

.bg-hotpink {
	background: hotpink;
}

.bg-deeppink {
	background: deeppink;
}

.bg-mediumvioletred {
	background: mediumvioletred;
}

.bg-palevioletred {
	background: palevioletred;
}

.bg-lightsalmon {
	background: lightsalmon;
}

.bg-coral {
	background: coral;
}

.bg-tomato {
	background: tomato;
}

.bg-orangered {
	background: orangered;
}

.bg-darkorange {
	background: darkorange;
}

.bg-orange {
	background: orange;
}

.bg-gold {
	background: gold;
}

.bg-yellow {
	background: yellow;
}

.bg-lightyellow {
	background: lightyellow;
}

.bg-lemonchiffon {
	background: lemonchiffon;
}

.bg-lightgoldenrodyellow {
	background: lightgoldenrodyellow;
}

.bg-papayawhip {
	background: papayawhip;
}

.bg-moccasin {
	background: moccasin;
}

.bg-peachpuff {
	background: peachpuff;
}

.bg-palegoldenrod {
	background: palegoldenrod;
}

.bg-khaki {
	background: khaki;
}

.bg-darkkhaki {
	background: darkkhaki;
}

.bg-lavender {
	background: lavender;
}

.bg-thistle {
	background: thistle;
}

.bg-plum {
	background: plum;
}

.bg-violet {
	background: violet;
}

.bg-orchid {
	background: orchid;
}

.bg-fuchsia {
	background: fuchsia;
}

.bg-magenta {
	background: magenta;
}

.bg-mediumorchid {
	background: mediumorchid;
}

.bg-mediumpurple {
	background: mediumpurple;
}

.bg-rebeccapurple {
	background: rebeccapurple;
}

.bg-blueviolet {
	background: blueviolet;
}

.bg-darkviolet {
	background: darkviolet;
}

.bg-darkorchid {
	background: darkorchid;
}

.bg-darkmagenta {
	background: darkmagenta;
}

.bg-purple {
	background: purple;
}

.bg-indigo {
	background: indigo;
}

.bg-slateblue {
	background: slateblue;
}

.bg-darkslateblue {
	background: darkslateblue;
}

.bg-mediumslateblue {
	background: mediumslateblue;
}

.bg-greenyellow {
	background: greenyellow;
}

.bg-chartreuse {
	background: chartreuse;
}

.bg-lawngreen {
	background: lawngreen;
}

.bg-lime {
	background: lime;
}

.bg-limegreen {
	background: limegreen;
}

.bg-palegreen {
	background: palegreen;
}

.bg-lightgreen {
	background: lightgreen;
}

.bg-mediumspringgreen {
	background: mediumspringgreen;
}

.bg-springgreen {
	background: springgreen;
}

.bg-mediumseagreen {
	background: mediumseagreen;
}

.bg-seagreen {
	background: seagreen;
}

.bg-forestgreen {
	background: forestgreen;
}

.bg-green {
	background: green;
}

.bg-darkgreen {
	background: darkgreen;
}

.bg-yellowgreen {
	background: yellowgreen;
}

.bg-olivedrab {
	background: olivedrab;
}

.bg-olive {
	background: olive;
}

.bg-darkolivegreen {
	background: darkolivegreen;
}

.bg-mediumaquamarine {
	background: mediumaquamarine;
}

.bg-darkseagreen {
	background: darkseagreen;
}

.bg-lightseagreen {
	background: lightseagreen;
}

.bg-darkcyan {
	background: darkcyan;
}

.bg-teal {
	background: teal;
}

.bg-aqua {
	background: aqua;
}

.bg-cyan {
	background: cyan;
}

.bg-lightcyan {
	background: lightcyan;
}

.bg-paleturquoise {
	background: paleturquoise;
}

.bg-aquamarine {
	background: aquamarine;
}

.bg-turquoise {
	background: turquoise;
}

.bg-mediumturquoise {
	background: mediumturquoise;
}

.bg-darkturquoise {
	background: darkturquoise;
}

.bg-cadetblue {
	background: cadetblue;
}

.bg-steelblue {
	background: steelblue;
}

.bg-lightsteelblue {
	background: lightsteelblue;
}

.bg-powderblue {
	background: powderblue;
}

.bg-lightblue {
	background: lightblue;
}

.bg-skyblue {
	background: skyblue;
}

.bg-lightskyblue {
	background: lightskyblue;
}

.bg-deepskyblue {
	background: deepskyblue;
}

.bg-dodgerblue {
	background: dodgerblue;
}

.bg-cornflowerblue {
	background: cornflowerblue;
}

.bg-mediumslateblue {
	background: mediumslateblue;
}

.bg-royalblue {
	background: royalblue;
}

.bg-blue {
	background: blue;
}

.bg-mediumblue {
	background: mediumblue;
}

.bg-darkblue {
	background: darkblue;
}

.bg-navy {
	background: navy;
}

.bg-midnightblue {
	background: midnightblue;
}

.bg-cornsilk {
	background: cornsilk;
}

.bg-blanchedalmond {
	background: blanchedalmond;
}

.bg-bisque {
	background: bisque;
}

.bg-navajowhite {
	background: navajowhite;
}

.bg-wheat {
	background: wheat;
}

.bg-burlywood {
	background: burlywood;
}

.bg-tan {
	background: tan;
}

.bg-rosybrown {
	background: rosybrown;
}

.bg-sandybrown {
	background: sandybrown;
}

.bg-goldenrod {
	background: goldenrod;
}

.bg-darkgoldenrod {
	background: darkgoldenrod;
}

.bg-peru {
	background: peru;
}

.bg-chocolate {
	background: chocolate;
}

.bg-saddlebrown {
	background: saddlebrown;
}

.bg-sienna {
	background: sienna;
}

.bg-brown {
	background: brown;
}

.bg-maroon {
	background: maroon;
}

.bg-white {
	background: white;
}

.bg-snow {
	background: snow;
}

.bg-honeydew {
	background: honeydew;
}

.bg-mintcream {
	background: mintcream;
}

.bg-azure {
	background: azure;
}

.bg-aliceblue {
	background: aliceblue;
}

.bg-ghostwhite {
	background: ghostwhite;
}

.bg-whitesmoke {
	background: whitesmoke;
}

.bg-seashell {
	background: seashell;
}

.bg-beige {
	background: beige;
}

.bg-oldlace {
	background: oldlace;
}

.bg-floralwhite {
	background: floralwhite;
}

.bg-ivory {
	background: ivory;
}

.bg-antiquewhite {
	background: antiquewhite;
}

.bg-linen {
	background: linen;
}

.bg-lavenderblush {
	background: lavenderblush;
}

.bg-mistyrose {
	background: mistyrose;
}

.bg-gainsboro {
	background: gainsboro;
}

.bg-lightgray {
	background: lightgray;
}

.bg-silver {
	background: silver;
}

.bg-darkgray {
	background: darkgray;
}

.bg-gray {
	background: gray;
}

.bg-dimgray {
	background: dimgray;
}

.bg-lightslategray {
	background: lightslategray;
}

.bg-slategray {
	background: slategray;
}

.bg-darkslategray {
	background: darkslategray;
}

.bg-black {
	background: black;
}