<div ng-init="listAll()"></div>
<!--<nav aria-label="breadcrumb" class="breadcrumb-nav">-->
<!--  <ol class="breadcrumb">-->
<!--    <li class="breadcrumb-item active" aria-current="page">{{getTitle('list')}}&nbsp;<spinner></spinner></li>-->
<!--  </ol>-->
<!--</nav>-->
<bread-crumb args='{{getTitle("list")}}' ></bread-crumb>

<section class="row justify-content-center">
<section class="wide-card">
    <div class="card">
    	<div class="card-header"><span class="large">MANAGE {{getTitle('list')}}</span>
	    	<div class="float-right">
            	<a href="{{newRouteHref}}">
	                <button type="button" class="btn btn-dark btn-sm">
	                    {{M.TITLE_ADD_PREFIX}}
	                </button>
            	</a>
		</div>
    	</div>
    	<div class="card-body">
    		
			<div ng-include src="getTemplate('list-header')"></div>
			<div ng-if="data.records" class="float-right small italic bold">{{data.records}} record{{data.records == 1 ? '' : 's'}}</div>
			<br/>
			<div style="overflow:auto">
				<table class="table">
				        <thead class="thead-light">
				          <tr>
				              <th ng-repeat="h in data.listHeaders">{{h}}</th>
				              <th ng-if="data.listHeaders.length > 0">Actions</th>
				          </tr>
				        </thead>
				        <tbody>
				          <tr ng-repeat="item in data.list" ng-include src="getTemplate('list-item')">
				          </tr>
				        </tbody>
				</table>
			</div>


             <div class="row justify-content-center">
				<nav aria-label="Page navigation">
				  <ul class="pagination " ng-show="data.listHeaders.length > 0 && data.list.length > 0">
				  	<li class="page-item" style="{{ (currentPage - 1 > 0) ? 'cursor: pointer;' :  'cursor: not-allowed;' }}">
				      <a class="page-link" aria-label="Previous" ng-click="listAllPrev()">
				        <span aria-hidden="true">&laquo;</span>
				        <span class="sr-only">Previous</span>
				      </a>
				    </li>
				  	<li class="page-item {{setActive(i)}}" ng-repeat="i in data.pages" style="cursor: pointer;"><a class="page-link" ng-click="listAll(i)">{{i}}</a></li>
				  	<li class="page-item" style="{{ (currentPage + 1 <= data.pages.length) ? 'cursor: pointer;' : 'cursor: not-allowed;' }}">
				      <a class="page-link" aria-label="Previous" ng-click="listAllNext()">
				        <span aria-hidden="true">&raquo;</span>
				        <span class="sr-only">Previous</span>
				      </a>
				    </li>
				  </ul>
				</nav>  
             </div>
             
            <div ng-include src="getTemplate('list-footer')"></div>
    	</div>
    </div>
</section>
</section>
<div ng-include src="getTemplate('list')"></div>


