<!--This is the template that will be used in new/edit screens. It should be in <form></form> tag. The name of the form should be matching the name of your API route, prefixed with 'froms.' and suffixed by 'Form'. e.g. in this case, it would be 'forms.tasksForm'-->
<!--Example-->
<form name="forms.{{resourceName}}Form" id="forms.{{resourceName}}Form">
     <div ng-repeat="i in data.singleKeys">
     	<div class="form-group row"  ng-if="data.singleKeysInfo[i].type != 'bool' && i != 'id'">
			<label for="{{i}}" class="col-md-4 col-form-label text-md-right">{{data.singleKeysInfo[i].title}}:</label>
			<div class="col-md-6">
				<input id="{{i}}" name="{{i}}" type="{{data.singleKeysInfo[i].type}}" class="form-control" ng-model="data.single[i]" required ng-disabled="locked" autofocus>
			</div>
			<div ng-messages="forms[resourceName + 'Form'][i].$error" ng-show="forms[resourceName + 'Form'][i].$dirty">
				<div ng-message="required">{{M.REQUIRED}}</div>
			</div>
     	</div>
     	<div class="form-group row" ng-if="data.singleKeysInfo[i].type == 'bool'">
			<label for="{{i}}" class="col-md-4 col-form-label text-md-right">{{data.singleKeysInfo[i].title}}:</label>
			<div class="col-md-6">
			<div class="custom-control custom-switch form-switch">
				<input class="custom-control-input" type="checkbox" id="{{resourceName}}_{{i}}" name="{{resourceName}}_{{i}}" ng-disabled="locked" ng-true-value="1"  ng-false-value="0" ng-model="data.single[i]"> 
				<label class="custom-control-label" for="{{resourceName}}_{{i}}"></label>
			</div>
			</div>
     	</div>
     </div>
</form>
